@import "tailwindcss";

@theme {
  --font-font1: "Roboto", "sans-serif"; 
  --font-font2: "Inter", "sans-serif"; 
  --font-font3: "Michroma", "sans-serif"; 
  --font-font4: "Syne", "sans-serif"; 
  --spacing-container: 1250px; 
  --color-ecru: #e1bb80; 
  --color-halkaB: #292929; 
}